:root
{
    --bg:       #0a0705;
    --bg2:      #110d08;
    --bg3:      #1a1209;
    --text:     #e8d5b0;
    --text2:    #a08060;
    --text3:    #6a5030;
    --accent:   #d4822a;
    --font-display: 'Cinzel', serif;
}
body
{
    background-color: var(--bg);
    color: var(--text);
}
.nav-links
{
    display: flex;
    gap: 0.25rem;
    list-style: none;
}
.nav-links a
{
    display: block;
    padding: 0.4rem 0.9rem;
    font-family: var(--font-display);
    font-size: 0.42rem;/*Default: Most browsers have a default root font-size of 16px. Therefore, 1rem usually equals 16px.*/
    letter-spacing: 0.12em;/*If a <div> has a font-size of 20px, then 1em inside that div is 20px. If you put another element inside that with 2em, it becomes 40px.*/
}
.nav-links a:hover, .nav-links a.active
{
    color: var(--accent);
}